/*
Theme Name: Blind in 90 Minutes
Theme URI: http://artifexweb.com
Author: ArtifexWeb.com
Author URI: http://artifexweb.com
Description: Custom Theme designed for Monserrat: Blind in 90 Minutes
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: 90min
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Blind in 90 Minutes is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/


/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1,
header a {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body *::-moz-selection {
  background: #333333;
  color: white;
}

body *::selection {
  background: #333333;
  color: white;
}

img,
svg {
  display: block;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

body.lock_position {
  overflow: hidden;
  position: fixed;
}

body .wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 100px 0 110px;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font: normal 18px Circe, Arial, Sans-Serif;
  line-height: 1.38889em;
  color: gray;
}

h1,
header a {
  margin-top: 0;
  margin-bottom: 0;
  font: normal 75px/1em Abril Fatface, Times New Roman, Serif;
  letter-spacing: .7px;
  text-align: left;
  color: white;
}

h1.h1-1,
header a.h1-1 {
  margin-top: 5px;
  font-size: 45px;
  color: #404040;
}

.sub_h1 {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
  line-height: 1.4em;
  text-align: left;
  color: white;
}

.sub_h1-1 {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 8px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font: bold 36px/1em Circe, Arial, Sans-Serif;
  text-align: center;
  color: #333333;
  position: relative;
}

.button {
  font: bold 25px/1em Circe;
  color: white;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.button-outline_gray,
.button-outline_cyan {
  font-size: 20px;
}

.button,
.button:hover,
.button:focus,
.button:active {
  outline: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

a {
  text-decoration: none;
  color: #00BFE6;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #00aacd;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.color_cyan {
  color: #00BFE6;
  fill: #00BFE6;
  border-color: rgba(0, 191, 230, 0.2);
}

.bg_paralax,
.bg_video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
  z-index: -1;
}

.bg_paralax video,
.bg_video video {
  width: 100%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  height: 50px;
  width: 210px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.button:hover {
  color: white;
  cursor: pointer;
}

.button-cyan {
  background: #00BFE6;
  -webkit-box-shadow: 0 0 0 10px rgba(27, 127, 173, 0.5);
  box-shadow: 0 0 0 10px rgba(27, 127, 173, 0.5);
}

.button-cyan:hover {
  background: #00aacd;
  -webkit-box-shadow: 0 0 0 0 rgba(27, 127, 173, 0.5);
  box-shadow: 0 0 0 0 rgba(27, 127, 173, 0.5);
  top: 3px;
}

.button-outline_cyan {
  height: 45px;
  width: 120px;
  background: transparent;
  border: solid 2px #1B7FAD;
  color: #1B7FAD;
}

.button-outline_cyan:hover {
  background: #1B7FAD;
  color: white;
}

.button-outline_gray {
  height: 45px;
  width: 120px;
  background: transparent;
  border: solid 2px #404040;
  color: #404040;
}

.button-outline_gray:hover {
  background: #404040;
  color: white;
}

.index .wrap.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), color-stop(30%, transparent));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.3) 0%, transparent 30%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, transparent 30%);
}

.index .container {
  margin: auto;
}

.index h1,
.index header a,
header .index a,
.index .sub_h1,
.index p {
  max-width: 400px;
  width: 100%;
}

.index h1,
.index header a,
header .index a {
  margin-bottom: 30px;
}

.index p {
  color: white;
}

.index .button {
  margin-top: 50px;
}

.index .jm {
  margin: 30px 450px 100px auto;
  max-width: 400px;
  width: auto;
  color: white;
  text-align: right;
}

.index .jm h2 {
  font: normal 22px/1em Abril Fatface, Times New Roman, Serif;
  letter-spacing: .2px;
  text-align: right;
  color: white;
}

.index .jm p {
  font-size: 15px;
  line-height: 20px;
}

.index .jm_photo {
  position: absolute;
  width: 650px;
  height: auto;
  bottom: 60px;
  right: -120px;
  z-index: 0;
}

.nav_page .wrap .chapter_title {
  margin-bottom: 60px;
}

.nav_page .wrap .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav_page .wrap .slider-wrap {
  margin-bottom: 30px;
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.nav_page .wrap .slider-wrap .slick-arrow {
  background: rgba(0, 0, 0, 0.7);
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  z-index: 1;
}

.nav_page .wrap .slider-wrap .slick-arrow:hover,
.nav_page .wrap .slider-wrap .slick-arrow:focus {
  background: black;
  cursor: pointer;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.nav_page .wrap .slider-wrap .slick-arrow.slick-prev {
  left: -20px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.nav_page .wrap .slider-wrap .slick-arrow.slick-next {
  right: -20px;
}

.nav_page .wrap .slider-wrap.single {
  width: -webkit-calc(100%/3);
  width: calc(100%/3);
}

.nav_page .wrap .slider-wrap.single .slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_page .wrap .slider-wrap.multi {
  width: 100%;
}

.nav_page .wrap .slider-wrap.multi .slick-arrow.slick-prev {
  left: -5px;
}

.nav_page .wrap .slider-wrap.multi .slick-arrow.slick-next {
  right: -5px;
}

.nav_page .wrap .slider-wrap.multi .slider {
  margin: 0 -15px;
}

.nav_page .wrap .slider-wrap.multi .slide {
  padding: 0 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav_page .wrap .slider-wrap ~ .text {
  padding-left: 60px;
}

.nav_page .wrap .slider-wrap ~ .nav_button {
  margin-top: -50px;
  width: -webkit-calc(100%/3 - 20px);
  width: calc(100%/3 - 20px);
}

.nav_page .wrap .slider-wrap:before {
  content: '';
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -webkit-calc(100% - 90px);
  bottom: calc(100% - 90px);
  background: #d9d9d9 url(images/pattern-diagonal_line.png);
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 75%);
  z-index: -1;
}

.nav_page .wrap .slider-wrap .slide {
  overflow: hidden;
}

.nav_page .wrap .slider-wrap img {
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
  object-fit: cover;
}

.nav_page .wrap .text p:first-child {
  margin-top: 0;
}

.nav_page .wrap .text p:last-child {
  margin-bottom: 0;
}

.nav_page .wrap .text p b {
  color: #404040;
}

.nav_page .wrap .text p.quote {
  padding-left: 30px;
  position: relative;
  font-weight: bold;
  color: #404040;
}

.nav_page .wrap .text p.quote:before {
  content: '';
  height: 100%;
  width: 5px;
  position: absolute;
  left: 0;
  top: 0;
  background: #00BFE6 url(images/pattern-diagonal_line.png);
}

.nav_page .wrap .nav_button {
  margin-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav_page .wrap .nav_button .button-outline_cyan {
  margin-left: 30px;
}

div.buorg {
  background-position: center 20px;
  background-color: rgba(51, 51, 51, 0.7);
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border: none;
  text-align: center;
  font: 16px Proxima Nova, Helvetica, Arial , sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.buorg > div {
  margin: 60px auto 40px;
  padding: 40px 40px 20px;
  width: 300px;
  line-height: 1.618em;
  background-color: white;
  border-bottom: 1px solid #4A90E2;
}

div.buorg div b {
  display: block;
  margin-bottom: 10px;
}

div.buorg div a,
div.buorg div a:visited {
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  background: #5aad1f;
  -webkit-box-shadow: 0 10px 20px -10px #5aad1f;
  box-shadow: 0 10px 20px -10px #5aad1f;
  display: block;
  width: 220px;
}

div.buorg div a:hover,
div.buorg div a:visited:hover {
  background: #448217;
  -webkit-box-shadow: 0 0 0 0 #5aad1f;
  box-shadow: 0 0 0 0 #5aad1f;
}

a#buorgig {
  background-color: #E61717;
  -webkit-box-shadow: 0 10px 20px -10px #E61717;
  box-shadow: 0 10px 20px -10px #E61717;
}

a#buorgig:hover {
  background: #b81212;
  -webkit-box-shadow: 0 0 0 0 #E61717;
  box-shadow: 0 0 0 0 #E61717;
}

header {
  position: fixed;
  top: 30px;
  left: 0;
  z-index: 4;
  -webkit-transform: translateX(-webkit-calc(50vw - 1140px/2));
  -ms-transform: translateX(calc(50vw - 1140px/2));
  transform: translateX(calc(50vw - 1140px/2));
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

header .hamburger_menu {
  margin-left: -10px;
  padding: 15px 10px;
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

header .hamburger_menu span,
header .hamburger_menu span:before,
header .hamburger_menu span:after {
  display: block;
  width: 31px;
  height: 3px;
  background: #1B7FAD;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

header .hamburger_menu span:before {
  content: '';
  bottom: 10px;
}

header .hamburger_menu span:after {
  content: '';
  top: 7px;
}

header a {
  color: #1B7FAD;
  font-size: 22px;
  visibility: visible;
  opacity: 1;
  position: absolute;
  left: -10px;
  top: 0;
  white-space: nowrap;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  height: 50px;
  width: 285px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 13px 14px 13px 60px;
  z-index: -1;
  overflow: hidden;
}

body.index header a {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.side_bar-menu {
  padding: 30px;
  width: 320px;
  background: #333333;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow: auto;
  z-index: 3;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  -webkit-overflow-scrolling: touch;
}

.side_bar-menu.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.side_bar-menu.open ~ header {
  -webkit-transform: translate(260px, -8px);
  -ms-transform: translate(260px, -8px);
  transform: translate(260px, -8px);
}

.side_bar-menu.open ~ header .hamburger_menu {
  width: 40px;
  height: 40px;
}

.side_bar-menu.open ~ header .hamburger_menu span,
.side_bar-menu.open ~ header .hamburger_menu span:before,
.side_bar-menu.open ~ header .hamburger_menu span:after {
  background: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 21px;
}

.side_bar-menu.open ~ header .hamburger_menu span:before {
  bottom: 0;
  background: white;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.side_bar-menu.open ~ header .hamburger_menu span:after {
  top: -2px;
  background: white;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.side_bar-menu.open ~ header a {
  visibility: hidden;
  opacity: 0;
  padding-left: 40px;
  padding-right: 0;
  height: 40px;
  width: 40px;
}

.side_bar-menu.open ~ .overlay {
  visibility: visible;
  opacity: 1;
}

.side_bar-menu .logo {
  font: normal 22px/1em Abril Fatface, Times New Roman, Serif;
  letter-spacing: .2px;
  color: white;
}

.side_bar-menu .logo_title {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  font: normal 13px/1em Circe, Arial, Sans-Serif;
  letter-spacing: .6px;
  color: rgba(255, 255, 255, 0.6);
}

.side_bar-menu .nav_item {
  display: block;
  margin-bottom: 10px;
  padding: 10px 10px;
  min-height: 40px;
  background: #404040;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.side_bar-menu .nav_item:last-child {
  margin-bottom: 0;
}

.side_bar-menu .nav_item span,
.side_bar-menu .nav_item header .hamburger_menu span:before,
header .hamburger_menu .side_bar-menu .nav_item span:before,
.side_bar-menu .nav_item header .hamburger_menu span:after,
header .hamburger_menu .side_bar-menu .nav_item span:after {
  margin: 4px 0 4px 5px;
  display: block;
  font: bold 13px/1em Circe, Arial, Sans-Serif;
  letter-spacing: .6px;
  text-transform: uppercase;
  color: white;
}

.side_bar-menu a.nav_item.active {
  background: #00BFE6;
  pointer-events: none;
}

.side_bar-menu a.nav_item:hover {
  background: #1B7FAD;
}

.side_bar-menu .nav-story_item {
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}

.side_bar-menu .nav-story_item:hover {
  background: #333333;
  -webkit-box-shadow: 0 0 0 2px #333333;
  box-shadow: 0 0 0 2px #333333;
}

.side_bar-menu .nav-story_item:hover .chapter_title {
  border-color: transparent;
}

.side_bar-menu .nav-story_item.active {
  background: #00BFE6;
  -webkit-box-shadow: 0 0 0 2px #00BFE6;
  box-shadow: 0 0 0 2px #00BFE6;
  pointer-events: none;
}

.side_bar-menu .nav-story_item.active:hover {
  background: #1B7FAD;
  -webkit-box-shadow: 0 0 0 2px #1B7FAD;
  box-shadow: 0 0 0 2px #1B7FAD;
}

.side_bar-menu .nav-story_item.active .chapter_title {
  border-color: transparent;
}

.side_bar-menu .nav-story_item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.side_bar-menu .chapter_title {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border-bottom: solid 1px rgba(255, 255, 255, 0.05);
}

.side_bar-menu .chapter_title h2 {
  font: bold 13px/1em Circe, Arial, Sans-Serif;
  letter-spacing: .6px;
  text-align: left;
  color: white;
}

.side_bar-menu .chapter_title p {
  margin: 6px 0;
  font: normal 10px/1em Circe, Arial, Sans-Serif;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.side_bar-menu .chapter_img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
}

.side_bar-menu .chapter_img img {
  max-height: 100%;
}

footer {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  background: -webkit-linear-gradient(315deg, #00AACC 0%, #0F93BF 100%);
  background: linear-gradient(-225deg, #00AACC 0%, #0F93BF 100%);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

footer nav {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}

footer nav:before {
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background: #00BFE6;
}

footer .progress {
  height: 1px;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  background: white;
  z-index: -1;
}

footer .nav_item {
  margin: 0 10px;
  position: relative;
}

footer .nav_item:hover .point {
  -webkit-box-shadow: 0 0 0 9px rgba(0, 102, 153, 0.5);
  box-shadow: 0 0 0 9px rgba(0, 102, 153, 0.5);
}

footer .nav_item:hover .nav_item-wrap {
  visibility: visible;
  opacity: 1;
  bottom: -webkit-calc(100% + 30px);
  bottom: calc(100% + 30px);
}

footer .nav_item.visited .point {
  background: white;
  border: solid 5px #00BFE6;
}

footer .nav_item.active {
  pointer-events: none;
}

footer .nav_item.active .point {
  background: white;
  -webkit-box-shadow: 0 0 0 9px rgba(0, 102, 153, 0.4), 0 0 0 5px #00BFE6;
  box-shadow: 0 0 0 9px rgba(0, 102, 153, 0.4), 0 0 0 5px #00BFE6;
}

footer .point {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00BFE6;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

footer .nav_item-wrap {
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  width: 220px;
  position: absolute;
  bottom: -webkit-calc(100% + 60px);
  bottom: calc(100% + 60px);
  left: 9px;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  background: white;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 30px rgba(153, 153, 153, 0.5);
  box-shadow: 0 0 30px rgba(153, 153, 153, 0.5);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

footer .nav_item-wrap:after {
  content: '';
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 15px);
  left: calc(50% - 15px);
  top: 100%;
  border: solid 15px transparent;
  border-top-color: white;
}

footer .nav_item-wrap img {
  margin: auto;
  width: 100%;
}

footer h2 {
  margin-bottom: 0;
  font: normal 18px/1.3em Abril Fatface, Times New Roman, Serif;
  letter-spacing: .7px;
  text-align: center;
  color: #404040;
}

footer p {
  margin-top: 20px;
  margin-bottom: 5px;
  font: normal 10px Circe, Arial, Sans-Serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  color: gray;
}

@media (min-width: 768px) {
  body:not(.index) footer:before {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 100%;
    left: 0;
    background: #d9d9d9 url(images/pattern-diagonal_line.png);
  }
}

@media (min-width: 992px) {
  .nav_page .wrap .slider-wrap.single ~ .text {
    margin-left: auto;
    -webkit-flex-basis: -webkit-calc(100%/3*2);
    -ms-flex-preferred-size: calc(100%/3*2);
    flex-basis: calc(100%/3*2);
  }

  .nav_page .wrap .slider-wrap.multi ~ .text {
    margin-left: auto;
    -webkit-flex-basis: -webkit-calc(100%/3*2 + 50px);
    -ms-flex-preferred-size: calc(100%/3*2 + 50px);
    flex-basis: calc(100%/3*2 + 50px);
  }
}

@media (max-width: 1199px) {
  .container {
    width: 970px;
  }

  .nav_page .wrap .slider-wrap img {
    height: 200px;
  }

  header {
    -webkit-transform: translateX(-webkit-calc(50vw - 940px/2));
    -ms-transform: translateX(calc(50vw - 940px/2));
    transform: translateX(calc(50vw - 940px/2));
  }
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }

  .index .jm {
    margin-right: 370px;
    margin-bottom: 90px;
    max-width: 300px;
  }

  .index .jm_photo {
    right: -160px;
  }

  .nav_page .wrap .content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav_page .wrap .slider-wrap.single {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav_page .wrap .slider-wrap ~ .text {
    padding-left: 0;
    -webkit-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .nav_page .wrap .slider-wrap ~ .nav_button {
    margin-top: 30px;
    width: 100%;
  }

  .nav_page .wrap .slider-wrap img {
    height: 240px;
  }

  .nav_page .wrap .text {
    margin: auto;
    padding-left: 0;
    max-width: 500px;
  }

  header {
    -webkit-transform: translateX(-webkit-calc(50vw - 720px/2));
    -ms-transform: translateX(calc(50vw - 720px/2));
    transform: translateX(calc(50vw - 720px/2));
  }
}

@media (max-width: 767px) {
  body .wrap {
    padding-bottom: 100px;
  }

  .container {
    width: 100%;
  }

  .index .wrap.hero {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), color-stop(70%, transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
  }

  .index .jm {
    margin-right: -webkit-calc(60% - 80px);
    margin-right: calc(60% - 80px);
    margin-bottom: 70px;
  }

  .index .jm_photo {
    width: 80%;
    right: -120px;
  }

  .nav_page .wrap .chapter_title {
    padding-left: 15px;
  }

  .nav_page .wrap .slider-wrap.single {
    width: 380px;
  }

  .nav_page .wrap .slider-wrap.multi {
    width: 80%;
  }

  .nav_page .wrap .slider-wrap img {
    height: 240px;
  }

  .nav_page .wrap .text {
    max-width: 380px;
  }

  div.buorg div {
    text-indent: 0;
  }

  header {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
    display: block;
  }

  .side_bar-menu {
    padding: 20px;
  }
}

@media (max-width: 479px) {
  body .wrap {
    padding-bottom: 40px;
  }

  .index .wrap.hero {
    padding-bottom: 0;
  }

  .index h1,
  .index header a,
  header .index a,
  .index .sub_h1,
  .index p {
    text-align: center;
  }

  .index .button {
    margin-left: auto;
    margin-right: auto;
  }

  .index .jm {
    margin: 50px auto 0px;
    max-width: 240px;
    text-align: center;
  }

  .index .jm h2 {
    text-align: center;
  }

  .index .jm_photo {
    position: static;
    width: 100%;
    bottom: 0;
  }

  .nav_page .wrap .slider-wrap.single {
    width: 90%;
  }

  .nav_page .wrap .slider-wrap.multi {
    width: 90%;
  }

  .nav_page .wrap .slider-wrap ~ .text {
    padding: 0 15px;
  }

  .nav_page .wrap .slider-wrap img {
    height: 200px;
  }

  .nav_page .wrap .text {
    padding: 0 15px;
    max-width: 320px;
  }

  .side_bar-menu.open ~ header {
    -webkit-transform: translate(270px, -8px);
    -ms-transform: translate(270px, -8px);
    transform: translate(270px, -8px);
  }

  footer {
    display: none;
  }
}